.hero-container {
    display: flex;
}

.hero-text {
    width: 400px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    z-index: 2;
    flex: 1;
}

.hero-image-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.hero-image {
    height: 450px;
    width: 350px;
    object-fit: cover;
    margin-top: 32px;
    border-radius: 16px;
    z-index: 2;
}

.highlights .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 96px;
    padding-bottom: 64px;
}

.highlights .header {
    display: flex;
    justify-content: space-between;
}

.highlights .cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background: #FFF;
    width: 320px;
    border-radius: 16px;
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    box-shadow: 0 20px 24px rgba(0, 0, 0, 0.2);
}

.card > img {
    width: 100%;
    height: 220px;
    border-radius: 16px 16px 0 0;
}

.card-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-content-header,
.card-content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content-header span {
    color: #E28D42;
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column-reverse;
    }
    
    .hero-image-container {
        justify-content: center;
    }

    .hero-image {
        z-index: 0;
    }
}