.stretch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

input,
select {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

input:focus,
select:focus {
  outline: 2px solid #f4ce14;
  outline-offset: -2px;
}

select,
::picker(select) {
  appearance: base-select;
  border: none;
}

select {
  background: #fff;
  border-radius: 8px;
  color: #333;
}

select::picker-icon {
  color: #333;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border: 2px solid #ddd;
  background: #eee;
  padding: 10px;
  transition: 0.4s;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(odd) {
  background: #fff;
}

option:hover,
option:focus {
  background: #495e57;
  color: #fff;
}

option .icon {
  font-size: 1.6rem;
  text-box: trim-both cap alphabetic;
}

.error {
  color: red;
  font-size: 14px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.booking-bottom {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  padding: 24px 0;
}

.image-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 16px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .fields {
    grid-template-columns: 1fr;
  }
}